</body>

<link rel="stylesheet" type="text/css" href="css/card_style.css" />



<div class="spacer font-small" style="flex: 1;margin-top:0vh" ></div>
<footer class="page-footer  pt-4 " style="
flex-shrink: 0;
background: #0D0D0D;" >

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left " style="margin-top:1vh; margin-bottom:1vh;margin-left: 17vw;margin-right: 10vw;">

    <!--row-->
    <div class="row-modified justify-content-center">

      <!-- Grid column -->
      <div class="col col-sm-12 col-md-6 col-lg-6 mt-md-0 mt-3 col-modified" style="text-align: center;">

        <!-- Content -->
        <a href="/" style="font-family: 'BIGMACCA';font-size: 6vw;"><div>RG</div></a>
        <div style="font-size:2vh;color: #AFB0B1;">Nuevos retos cada semana</div>
      </div>
      <!-- Grid column -->


      <div class="col col-md-3 col-lg-3 mb-md-0 mb-3 col-modified" >

        <h5 class="text-uppercase" style="font-size:2vh;"><strong>Informacion de interes</strong></h5>
        <!-- <hr style="background-color: #70222222;"> -->
        <ul class="list-unstyled">
          <li>
            <a class="footer-item-padding" href="/" style="font-size:1.5vh;color: #AFB0B1;margin-top:2vh;">INICIO</a>
          </li>
          <li>
            <a class="footer-item-padding" href="/leaderboard" style="font-size:1.5vh;color: #AFB0B1;margin-top:2vh;">CLASIFICACIONES</a>
          </li>
          <li>
            <a class="footer-item-padding" href="/aboutUs" style="font-size:1.5vh;color: #AFB0B1;margin-top:2vh;">NOSOTROS</a>
          </li>

        </ul>

      </div>
      <div class="col col-md-3 col-lg-3 mb-md-0 mb-3 col-modified" >

        <h5 class="text-uppercase" style="font-size:2vh;"><strong>Contacto</strong></h5>
              <!-- <hr style="background-color: #222;"> -->

        <ul class="list-unstyled">
          <li>
            <a class="footer-item-padding" href="mailto:soporte@retosgamer.com" style="font-size:1.8vh;color: #AFB0B1;"> soporte@retosgamer.com</a>
          </li>

        </ul>

      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-2" style="display:block; width:100%;background: #0D0D0D;font-size: 1.8vh;color: #AFB0B1;">
    <hr style="background-color: #525252;margin-left: 30vw;margin-right: 15vw;height: 3px;">
    © 2020 Copyright |
    <a href="#" style="color: #AFB0B1;"> Retos Gamer </a> | Todos los derechos reservados.
  </div>
</footer>