<%- include('partials/login_header.ejs') %>
<style>
	.errorInput
{
-webkit-box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
-moz-box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('#closeVideoDialog').click(()=>{
			$('#successfulDialog').modal('toggle');
		});
		
	   $('.button').click(e=>{
		   e.preventDefault();
		   var otp=$('#user').val();
		   if( otp.length!==6) { 
			$('#otpError').html("<br/>Dirección email o contraseña incorrecto/s o inexistentes");
			$("#user").addClass('errorInput');
		   }
		   else if($("#pass").val()==''){
			$('#passError').html("<br/>Este campo no puede estar vacío");
			$("#user").addClass('errorInput');
		   }
		   else{
			$("#user").prop('disabled', true);
			$("#pass").prop('disabled', true);
			var formData = new FormData();
			formData.append('code', $('#user').val());
			formData.append('password', $('#pass').val());
			$("#submitButton").css("display","none");
			$("#SignupSubmitButtonProgress").css("display","block");
			$.ajax({
				url: window.location.origin+'/newPassword',  
				type: 'POST',
				data: formData,
				success:function(data){
					if(data==="success"){
						$('#successfulDialog').modal('toggle');

						$(document).on('hide.bs.modal','#successfulDialog', ()=>{
							location.href = window.location.origin+'/login';
                    	});
					}
					else{
						$("#SignupSubmitButtonProgress").css("display","none");
						$("#submitButton").css("display","block");
						$("#user").prop('disabled', false);
						$("#pass").prop('disabled', false);
										
						$('#otpError').html("<br/>Dirección email o contraseña incorrecto/s o inexistentes");
						$("#user").addClass('errorInput');
					}
				},
				cache: false,
				contentType: false,
				processData: false
				});
		   }
	   });  
	   $('#resendCode').click(e=>{
		 e.preventDefault();
		 disableUI();
		 ResendCodeRequest()
	   })
	   const disableUI=()=>{
		$("#user").prop('disabled', true);
		$("#pass").prop('disabled', true);   
		$("#submitButton").css('disabled', true);
		$('#resendResp').fadeOut();
		$('#resendCode').html('<div class="spinner-border" style="height:2vw;width:2vw;border-color:white ;"></div>');
	   }
	   const enableUI=()=>{
		$("#user").prop('disabled', false);
		$("#pass").prop('disabled', false); 
		$("#submitButton").css('disabled', false);  
		$('#resendResp').fadeIn();
		$('#resendCode').html('¿no recibiste tu código? haz click para reenviar')
	   }
	   const ResendCodeRequest=()=>{
		$.get( "/resendFgtPsswdCode", ( data )=> {
			if(data==='LIMIT_REACHED'){
				enableUI();
				$('#resendResp').html('Limite alcanzado, por favor intenta más tarde');
				$('#resendCode').fadeOut();
			}
			else{
				$('#resendResp').html('<i class="fas fa-check-circle"></i>Código enviado exitosamente');
				enableUI();
			}
		});
	   }
	});
</script>

<div class="login-container">
	<img class="login-image" src="/images/login-side-image.jpg" style="" alt="">
	<div class="login-wrap" style="">
  <form class="" action="/newPassword" method="post">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="color: white;">Reestablecer contraseña</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label"><strong>Código de verificación</strong></label>
					<input name="code" id="user" type="text" class="input" placeholder="564878"  autocomplete="off">
					<!-- <p id="otpError" style="color: white;margin-top: -1vh;"></p> -->
				</div>
				<div class="group">
					<label for="pass" class="label"><strong>nueva contraseña</strong></label>
					<input id="pass"  name="password" type="password" class="input" data-type="password" placeholder="********">
					<!-- <p id="passError" style="color: white;margin-top: -1vh;"></p> -->
				</div>
				<div class="group">
					<input type="submit" class="button" id="submitButton" value="Completar" style="background:#EE0000;border-radius:10vw;border:none;font-family: 'avenir';"  autocomplete="off">
					<div class="button" id="SignupSubmitButtonProgress" style="display: none;background:#EE0000;border-radius:10vw;border:none;text-align: center;"><div class="spinner-border" style="height:2vw;width:2vw;border-color:white ;"></div></div>
				</div>
				<div class="foot-lnk" style="margin-top:20px;">
					<p id="resendResp" style="color: #D1D1D1;"></p>
					<a id="resendCode" href="#" style="color: #B6B6B6;font-family: 'avenir';">¿no recibiste tu código? haz click para reenviar</a>
				  </div>
			</div>
	  </form>
</div>
</div>
<div class="modal fade" id="successfulDialog"  role="dialog" aria-labelledby="ytVideoParticipationTutorialTitle" aria-hidden="true" data-backdrop="false">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content"  style="background: rgba(20,20, 20, 0.9); backdrop-filter: blur(4px);text-align: center;border-radius: 0.5vw;">
      <div class="modal-header" style="border: none;">
        <h2 class="modal-title" id="exampleModalLongTitle" style="color: white;font-weight: bold;width: 100%;text-align: center;">
			<i class="far fa-check-circle" style="margin-right:1vw ;"></i>exitosa
        </h2>
      </div>
      <div class="modal-body" style="text-align: center;" >
        <div id="modalVideoRow" class="row" style="padding:3vw;color: #D1D1D1;">
			Tu contraseña se ha reestablecido correctamente, inicia sesión para continuar
          </div>
      </div>
      <div class="modal-footer" style="border: none;text-align: center;">
        <button type="button" id="closeVideoDialog" data-dismiss="modal" class='footerMobileFontSize'  style="background-color: rgba(0,0, 0, 0);border:none;color: white;"> Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>
</body>